// Body
$body-bg: #FAFAFA;
$primary: #3C5896;
$secondary: #E6F0FA;

// Typography
$font-family-sans-serif: 'Avenir', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$input-btn-padding-y: 10px;
$table-border-color: $primary;
$breadcrumb-divider-color: $primary;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
