// Body
$body-bg: #FAFAFA;
$primary: #3C5896;
$secondary: #E6F0FA;

// Typography
$font-family-sans-serif: 'Avenir', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$input-btn-padding-y: 10px;
$table-border-color: $primary
