// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Views
@import 'views/login';
@import 'views/_student_dashboard.scss';

@import "typography";

// Components
@import "components/swiper";
@import "components/navbar";
@import "components/table";
@import "components/button";
@import "components/select";
@import "components/breadcrumb";
@import "components/dialog";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: $primary;
    text-decoration: none;
}

