// Fonts
@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@300;400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Views
@import 'views/login';
@import 'views/_student_dashboard.scss';

// Components
@import "components/swiper";
@import "components/navbar";
@import "components/table";
@import "components/button";
@import "components/sidebar";


html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.body-with-sidebar {
    width: calc(100% - 250px);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

label {
    font-size: 0.7rem;
    font-weight: 300;
}

.text-lg {
    font-size: 1.25rem;
}

.text-sm {
    font-size: 0.85rem;
}

.cursor-pointer {
    cursor: pointer;
}


a {
    color: $primary;
    text-decoration: none;
}
