.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    img {
        height: auto;
        width: auto;
        max-height: 60px;
    }
}

