select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path d='M1.41 3.41L6 8l4.59-4.59L12 4l-6 6-6-6z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    padding-right: 1.5em;
}
