.exam-card {
    width: 180px;
    height: 200px;
    background: $secondary;
    border-radius: 10px;
    border: 1px solid $primary;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    cursor: pointer;

    &-header {
        word-wrap: break-word;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.25rem;
        height: 2.5rem;
        text-transform: uppercase;
    }
    hr {
        margin: 5px 0;
        color: $primary;
    }

    &-icon {
        position: absolute;
        right: 5%;
        bottom: 5%;

    }
}
